section.contact-us .icon-attach_email{
    color: var(--subtitle);
    margin-right: 1rem;
    margin-left: 1rem;

    font-size: 1.8rem;

}




section.contact-us .title{
    font-size: 2.1rem;
    color: var(--title);
    margin-bottom: 1rem;

}

section.contact-us .subtitle{
    color: var(--subtitle);
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

section.contact-us label{
    color: var(--subtitle);
}



section.contact-us #email,section.contact-us #message{
    all: unset;
    background-color: rgba(63, 63, 70, 0.15);
    border: 1px solid rgb(63, 63, 70);
    width: 16rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;

    margin-left: 1rem;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: 0.3s;
}


section.contact-us #email:focus,
section.contact-us #message:focus{
    border: 1px solid rgb(45, 202, 191);
}


section.contact-us #email:hover,
section.contact-us #message:hover{
    border: 1px solid rgb(45, 202, 191);
}


section.contact-us #message{
    min-height: 9rem;
    resize: vertical;
}


section.contact-us .submit{
    background-color: rgb(35, 37, 46 ,1);
    width: 8.5rem;
    padding: 0.75rem 0.7rem;
    text-align: center;
    font-size: 0.8rem;
    text-transform: capitalize;
    
    border-radius: 5px;
    transition: 0.3s; 
    margin-top: 1.8rem;
    border: 1px solid rgb(63, 63, 70);

}


section.contact-us .submit:hover{
    scale: 0.97;

}






/******************** 
3-response ==> media query
--------------------*/
@media (max-width:1100px) {
    .contact-animation{
        display: none;
    }
    
}
@media  (max-width:600px) {


    .animation{
        display: none;
    }
    .contact-us form{
        display: flex;
        flex-direction: column;
        width: 70%;
        
    }

    .contact-us form div.flex{
        flex-direction: column;
        align-items: start;
    }

    section.contact-us #email,
    section.contact-us #message{

        width: 100%;
        margin-left: 0;
        padding: 0.8rem 0;
        margin-top: 0.7rem;
    }

    section.contact-us .submit{
        width: 30%;
        align-self: center;
    }
}